.offcanvas-wrap{
  @apply md:max-w-[425px]
}
.offcanvas-bottom {
  position: fixed;
  bottom:0;
  left:0;
  width:100%;
  height:475px;
  background:#fff;
  z-index:9999;
  transform: translateY(100%);
  transition: transform 0.35s ease-in-out;
  border-radius:16px 16px 0 0;
  padding:12px 20px 0;

  @apply md:max-w-[425px] md:left-1/2 md:ml-[-213px]
}
.offcanvas-open .offcanvas-bottom{
  transform: translateY(0);
}
.offcanvas-overlay{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#000;
  opacity: 0;
  transition:opacity 0.25s ease-in-out;
  display:none;
  z-index:999;

  @apply md:max-w-[425px] md:left-1/2 md:ml-[-213px]
}
.offcanvas-open .offcanvas-overlay{
  display:block;
  opacity: 0.7;
}

.offcanvas-header{
  @apply w-full h-[34px] flex relative justify-center items-center pb-2.5
}
.offcanvas-header strong{
  @apply text-[18px] font-bold text-black
}
.offcanvas-header button{
  @apply absolute top-0 right-0
}
.offcanvas-body .item-detail{
  @apply pt-2.5 w-full relative h-auto
}

.offcanvas-body .item-detail > strong{
  @apply w-full block h-6 leading-6 text-[16px] font-medium text-[#5368ff]
}
.offcanvas-body .item-detail table{
  @apply w-full  border-collapse border-spacing-0 mt-2.5
}
.offcanvas-body .item-detail table *{
  @apply border-collapse
}
.offcanvas-body .item-detail table thead tr th{
  @apply border-t-[1px] border-t-[#8c8c8c] border-r-[1px] border-r-[#f0f0f0] border-b-[1px] border-b-[#dcdcdc] bg-[#fafafa] h-[34px] text-[12px]
}
.offcanvas-body .item-detail table thead tr th:last-child{
  @apply border-r-transparent
}
.offcanvas-body .item-detail table tbody tr td{
  @apply border-b-[1px] border-[#f0f0f0] h-[42px]
}

.offcanvas-body .item-detail table tr td .up{
  @apply text-[#e81a1a] !important
}
.offcanvas-body .item-detail table tr td .dn{
  @apply text-[#225CFF] !important
}
.offcanvas-body .item-detail table tbody tr td .info{
  @apply flex w-full min-h-[42px] items-center p-[10px_5px]
}
.offcanvas-body .item-detail table tbody tr td .info span{
  @apply w-[25%] text-center
}
.offcanvas-body .item-detail table tbody tr td .info span em{
  @apply not-italic text-[11px] block w-full
}
.offcanvas-body .item-detail table tbody tr td .info span.up{
  @apply text-[#E81A1A] !important;
}
.offcanvas-body .item-detail table tbody tr td .info span.dn{
  @apply text-[#225cff] !important;
}
.offcanvas-body .item-detail table tbody tr td .info span.date{
  @apply text-[13px] text-[#666]
}
.offcanvas-body .item-detail table tbody tr td .info span.obj{
  @apply text-[14px] text-[#666]
}
.offcanvas-body .item-detail table tbody tr td .info span.price{
  @apply text-[14px] text-[#141414] text-right
}
.offcanvas-body .item-detail table tbody tr td .info span.per{
  @apply text-[14px] text-[#666] text-right
}
.offcanvas-body .item-detail table tbody tr td .info span.center{
  @apply text-center !important;
}
.offcanvas-body .item-detail table tbody tr td .info_txt{
  @apply px-2.5 py-0 bg-[#fafafa] w-full h-0 overflow-hidden transition-all duration-700
}
.offcanvas-body .item-detail table tbody tr td .info_txt.infoActive{
  @apply py-[15px] h-auto
}
.offcanvas-body .item-detail table tbody tr td .info_txt strong{
  @apply block text-[15px] text-[#141414] font-medium leading-5
}
.offcanvas-body .item-detail table tbody tr td .info_txt span{
  @apply block text-[15px] text-[#333] leading-5
}
.offcanvas-body .item-detail table tbody tr:last-child td{
  @apply border-b-0
}
.offcanvas-body .item-detail table tfoot{}
.offcanvas-body .item-detail table tfoot tr td{
  @apply border-t-[1px] border-[#8C8C8C]
}
.offcanvas-body .item-detail table tfoot tr td .tbFooter{
  @apply flex justify-between pt-4
}
.offcanvas-body .item-detail table tfoot tr td .tbFooter > div{
  @apply h-[21px] leading-[21px] flex gap-2
}
.offcanvas-body .item-detail table tfoot tr td .tbFooter > div span{
  @apply text-[13px] text-[#666]
}
.offcanvas-body .item-detail table tfoot tr td .tbFooter > div em{
  @apply not-italic text-[#141414] font-medium text-[14px]
}


/* 날짜선택 */
#chartPlay .offcanvas-bottom{
  @apply px-0 h-[330px]
}
#chartPlay .offcanvas-bottom .offcanvas-header{
  @apply px-5
}
#chartPlay .offcanvas-bottom .offcanvas-header button{
  @apply right-5
}
.offcanvas-body .ch-date{
  @apply w-full h-[275px] overflow-y-auto pt-5
}
.offcanvas-body .ch-date button{
  @apply flex w-full px-5 h-[55px] items-center justify-between
}
.offcanvas-body .ch-date button span{
  @apply text-[16px] text-[#141414]
}
.offcanvas-body .ch-date button em{
  @apply hidden
}
.offcanvas-body .ch-date button.active{
  @apply bg-[#F4F6FD]
}
.offcanvas-body .ch-date button.active em{
  @apply block
}
